
body{
	background-image: url("background.jpg");
}

.main, .main2{
	text-align: center;
	width: 30%;
	border-style:none;
	padding:10px;
}

#top{

	background-color: rgba(256,256,256,0.2);
	margin: 5% auto;
}
#love{

	background-color: rgba(256,256,256,0.6);
	font-size: 30px;
	color:white;
	text-align: center;
	margin:1% auto;
}
#res{
	text-align: center;
	width: 45%;
	margin:1% auto;
	font-size: 30px;
	background-color: black;
	color: white;
}
.Heading{
	font-size: 40px;
	color: white;
	background-color: tomato;
	box-sizing: border-box;
	margin-bottom: 10px;
	letter-spacing: 2px;
	
}

.instructions{
	color:#fff;
}

input{
	width:40%;
	background-color: rgb(15, 13, 15);
	font-size: 16px;
	padding:10px;
	margin:8px 5px;
	border: solid;
	border-width: 2px;
	border-color: rgb(0, 194, 106);
	border-radius: 8px; 
	animation-name: change;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    color: white;
}

.submit{
	margin:15px auto;
	font-size: 20px;
	border:solid;
	border-color: rgb(0, 194, 106);
 	color:white;
 	border:solid;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(0, 194, 106);
    padding: 8px 5px 8px 5px;
}

@keyframes change{
	0% {border-color:rgb(0, 194, 106);}
	15% {border-color:rgb(174, 227, 59);}
	30% {border-color:rgb(0, 194, 106);}
	50% {border-color:rgb(209, 159, 33);}
	75% {border-color:rgb(242, 107, 53);}
	90% {border-color:rgb(182, 36, 214);}
	100% {border-color:rgb(0, 194, 106);}
}

.submit:hover{
	background-color: rgb(256, 194, 106);
}

.footer{
	text-align: center;
	width: 60%;
	margin:1% auto;
	background-color: white;
	font-size: 26px;
	opacity: 0.3;
}

.picc{
	text-align: center;
}


@media (max-width:720px){
	body{
	background-image: url("background_mob.jpg");
	width: 800px;
	background-repeat: no-repeat;
	}

	.Heading{
		font-size: 30px;
	}
}